body {
   
}

#readme-form {
   display: inline;
   margin: 20px;
   
}

#project-title, #project-purpose, #project-motivation, #project-knowledge, #project-problem, #project-differnce, #license {
    display: flex;
    margin: 20px;
    width: 25%;
}

button:hover {
    color: black;
}