body {
   
}

#readme-form {
   display: inline;
   margin: 20px;
   
}

#project-title {
    display: flex;
    margin: 20px;
}


#license {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

button:hover {
    color: black;
}